/* You can add global styles to this file, and also import other style files */

body {
    padding-bottom: 50px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* Button */

.buttoni,
button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
}


/* Fancy Button */

.fancy-button {
    background-color: white;
    color: #1976d2;
}

.fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
}

a {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.cart-item,
.shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #eeeeee;
}